[Desktop Entry]
Version=1.0
Type=Application
Name=Animated Wallpaper
Comment=Configure animated desktop wallpapers
Exec=xfce-animated-wallpaper-settings
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
X-XfcePluggable=true
